<style>
    .multiselect {
        width: 20em;
        height: 15em;
        border: solid 1px #c0c0c0;
        overflow: auto;
    }

        .multiselect label {
            display: block;
        }

    .multiselect-on {
        color: #ffffff;
        background-color: #000099;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Simple Sidebar - Start Bootstrap Template</title>
</head>

<body>


    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Crear nota</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input id="titulo" placeholder="Ingrese título" class="col-12" />
                    <br />
                    <br />
                    <div class="multiselect" id="comboEtiqueta">
                    </div>
                    <br />
                    <br />
                    <textarea id="contenido" simplemde="options">
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="Crear()">Crear</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalDetalle" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detalle nota</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <input id="detalletitulo" placeholder="Ingrese título" class="col-12"  disabled/>
                    <br />
                    <br />
                    <div class="multiselect col-12" >
                        <ol id="ListEtiqueta" >
                           
                        </ol>
                     </div>
                        <br />
                        <br />
                    <textarea id="detalleCommentario" class="col-12" rows="5" disabled>
                    </textarea>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading" href=""> <a href="#" class="list-group-item list-group-item-action bg-light" onclick="GetNotas()">TODAS</a></div>
            <div class="list-group list-group-flush" id="ListaEtiquetas">

            </div>
        </div>
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="row col-12">
                    <div class="col-lg-3 col-md-3">
                        <button class="btn btn-primary" id="menu-toggle"> ETIQUETAS</button>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input id="busqueda" type="text" class="col-12" placeholder="Escribe aqui lo que quieras" onkeyup="GetNotas()" />
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nota +</button>
                    </div>
                </div>

            </nav>
            <div class="container-fluid">
                <br />
                <div class="">
                    <ul class="list-group" id="display">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>

        var ListEtiquetasSeleccionadas = [];
        $("#menu-toggle").click(function (e) {
            console.warn('entro');
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });



        function Crear() {
            var Model = { Titulo: $("#titulo").val(), Contenido: simplemde.value() };
            for (var i = 0; i < ListEtiquetasSeleccionadas.length; i++) {
                Model.Etiquetas = Model.Etiquetas + ListEtiquetasSeleccionadas[i]+",";
            }
            $.ajax({
                type: "POST", // la variable type guarda el tipo de la peticion GET,POST,..
                url:'@Url.Action("createNota")', //url guarda la ruta hacia donde se hace la peticion
                data: Model , // data recive un objeto con la informacion que se enviara al servidor
                success: function (datos) { //success es una funcion que se utiliza si el servidor retorna informacion
                    GetNotas();
                    alert(datos.message);
                    $('#myModal').modal('hide');
                    $("#titulo").val('');
                    simplemde.value('');
                },
                dataType: "json",
            })
        }


        function GetNotas() {
            var buqueda = $('#busqueda').val();
            console.warn(buqueda);
            $.ajax
                ({
                    url: '@Url.Action("GetNotas")', //url guarda la ruta hacia donde se hace la peticion
                    data: { buqueda: buqueda},
                    //data: 'action=showAll',
                    cache: false,
                    success: function (r) {
                        var List  =''
                        if (r.load) {

                            for (var i = 0; i < r.data.length; i++) {
                                List = List + '<li class="list-group-item"  href="#" onclick="DetalleNota(' + r.data[i].notaId +')">'
                                    + '<strong>' + r.data[i].titulo + '</strong>'
                                    + '<br />'
                                    + '<small>' + r.data[i].contenido + '</small>'
                                    //+ '<button type="button" class="btn btn-warning pull-right" data-toggle="modal" >Editar</button>'
                                    + '<button type="button" class="btn btn-danger pull-right" onclick="Eliminar(' + r.data[i].notaId+')" >Eliminar</button>'
                                    + '</li>'
                            }
                        }
                        $("#display").html(List);
                    }
                });
        }

        GetNotas();


        function DetalleNota(notaId) {
           $.ajax
                ({
                    url: '@Url.Action("DetalleNota")', //url guarda la ruta hacia donde se hace la peticion
                    data: { id: notaId },
                    cache: false,
                    success: function (r) {
                        console.warn(r);

                        if (r.load) {
                            $('#myModalDetalle').modal('show');
                            $('#detalletitulo').val(r.data.titulo);
                            $('#detalleCommentario').val(r.data.contenido);
                            var List = '';
                            for (var i = 0; i < r.data.etiquetas.length; i++) {

                                List = List + '<li>' + r.data.etiquetas[i].nombre+'</li>';
                            }
                            $("#ListEtiqueta").html(List);
                        }
                    }
                });
        }

        function GetEtiquetas() {
            $.ajax
                ({
                    url: '@Url.Action("GetEtiquetas")', //url guarda la ruta hacia donde se hace la peticion
                    data: 'action=showAll',
                    cache: false,
                    success: function (r) {
                        console.warn(r);
                        var List  =''
                        var Combo  =''
                        if (r.load) {

                            for (var i = 0; i < r.data.length; i++) {

                                List = List + '<a href="#" class="list-group-item list-group-item-action bg-light" onclick="GetNotasByEtiquetas(' + r.data[i].etiquetaId + ')">' + r.data[i].nombre+'</a>'
                                Combo = Combo + '<label><input type="checkbox" name="option[]" value="' + r.data[i].etiquetaId + '" id="' + r.data[i].etiquetaId + '"  onchange="OnSelectEtiqueta(this)"/>' + r.data[i].nombre +'</label>'
                            }
                        }
                        $("#ListaEtiquetas").html(List);
                        $("#comboEtiqueta").html(Combo);
                    }
                });
        }
        GetEtiquetas();



        function Eliminar(id) {

            var Model = { id: id };
            $.ajax({
                type: "POST", // la variable type guarda el tipo de la peticion GET,POST,..
                url:'@Url.Action("deleteNota")', //url guarda la ruta hacia donde se hace la peticion
                data: Model , // data recive un objeto con la informacion que se enviara al servidor
                success: function (datos) { //success es una funcion que se utiliza si el servidor retorna informacion
                    GetNotas();
                    alert(datos.message);
                },
                dataType: "json",
            })
        }
        function OnSelectEtiqueta(item) {
            if ($('#' + item.id + '').prop('checked')) {
                ListEtiquetasSeleccionadas.push(item.id);
            } else {
                var i = ListEtiquetasSeleccionadas.indexOf(item.id);
                ListEtiquetasSeleccionadas.splice(i, 1);
            }
            console.warn(ListEtiquetasSeleccionadas);
        }

        function GetNotasByEtiquetas(EtiquetaId) {
            $.ajax
                ({
                    url: '@Url.Action("GetNotasByEtiqueta")', //url guarda la ruta hacia donde se hace la peticion
                    data: { id: EtiquetaId},
                    cache: false,
                    success: function (r) {
                        var List  =''
                        if (r.load) {

                            for (var i = 0; i < r.data.length; i++) {
                                List = List + '<li class="list-group-item"  href="#" onclick="DetalleNota(' + r.data[i].notaId +')">'
                                    + '<strong>' + r.data[i].titulo + '</strong>'
                                    + '<br />'
                                    + '<small>' + r.data[i].contenido + '</small>'
                                    //+ '<button type="button" class="btn btn-warning pull-right" data-toggle="modal" >Editar</button>'
                                    + '<button type="button" class="btn btn-danger pull-right" onclick="Eliminar(' + r.data[i].notaId+')" >Eliminar</button>'
                                    + '</li>'
                            }
                        }
                        $("#display").html(List);
                    }
                });

        }

        jQuery.fn.multiselect = function () {
            $(this).each(function () {
                var checkboxes = $(this).find("input:checkbox");
                checkboxes.each(function () {
                    var checkbox = $(this);
                    // Highlight pre-selected checkboxes
                    if (checkbox.prop("checked"))
                        checkbox.parent().addClass("multiselect-on");

                    // Highlight checkboxes that the user selects
                    checkbox.click(function () {
                        if (checkbox.prop("checked"))
                            checkbox.parent().addClass("multiselect-on");
                        else
                            checkbox.parent().removeClass("multiselect-on");
                    });
                });
            });
        };
        var simplemde = new SimpleMDE({
        });
    </script>
</body>

</html>


